@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>FEIT University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to FEIT University<br></h2>
        <p>
            Hello there!
        </p>
    </div>
</div>
